 <!-- navigation -->

 <div class="logo-section p-4">
    <div class="d-flex align-items-center">
      <i class="bi bi-recycle fs-3 text-success"></i>
      <h1 class="h4 ms-3 mb-0 text-success">UWS Portal</h1>
    </div>
  </div>

  <div class="nav-menu mt-3">
    <a routerLink="/profile" routerLinkActive="active" class="nav-link d-flex align-items-center">
      <i class="bi bi-person me-3"></i>
      <span>Profile</span>
    </a>
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link d-flex align-items-center">
      <i class="bi bi-speedometer2 me-3"></i>
      <span>Dashboard</span>
    </a>

    <a routerLink="/schedule" routerLinkActive="active" class="nav-link d-flex align-items-center">
      <i class="bi bi-calendar-week me-3"></i>
      <span>Schedule</span>
    </a>
    <a routerLink="/specialpickups" routerLinkActive="active" class="nav-link d-flex align-items-center">
      <i class="bi bi-calendar-check me-3"></i>
      <span>Special Pickups</span>
    </a>
    <a routerLink="/publicreport" routerLinkActive="active" class="nav-link d-flex align-items-center">
      <i class="bi bi-trash me-3"></i>
      <span>Public Waste</span>
    </a>
    <a routerLink="/feedback" routerLinkActive="active" class="nav-link d-flex align-items-center">
      <i class="bi bi-chat-dots me-3"></i>
      <span>Feedback</span>
    </a>
    <a routerLink="/settings" routerLinkActive="active" class="nav-link d-flex align-items-center">
      <i class="bi bi-gear me-3"></i>
      <span>Settings</span>
    </a>
  </div>


